extends layout

block content
    //div(class='header')
        h1= title

    form(method='POST' action='')
        label(for='student_id') Student ID:
        input#student_id.form-control(type='text' placeholder='Your Student ID...' name='student_id' required='true')
        button(type='submit' name='button' value='find') Continue


    div
        table(id='appointments')
            tr
                th Student ID
                th Description
                th Start Time
                th End Time
                th Date
                th Cancel

            for appointment in appointments
                tr
                    td!= appointment.studentID
                    td!= appointment.description
                    td!= appointment.startTime
                    td!= appointment.endTime
                    td!= appointment.appointmentDate
                    td
                        form(method='POST' action='')
                            input#row_id.form-control(type='hidden' name='row_id' value=appointment.appointmentID)
                            button(type='submit' name='button' value='cancel') Cancel

    script.
        function CancelRow(button) {
            console.log('row');
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
            DeleteFromTable();
        };

        function DeleteFromTable() {
            //there's a function for this in the model btw, Appointment.cancelAppointment(appointmentID);
        };